html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Lato Regular";
  src: url("../assets/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato Black";
  src: url("../assets/Lato/Lato-Black.ttf");
}
@font-face {
  font-family: "Lato Bold";
  src: url("../assets/Lato/Lato-Bold.ttf");
}
a {
  text-decoration: none;
}
a:link, a:visited {
  color: inherit;
}

#home {
  position: absolute;
  top: 0;
  left: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 1rem 0;
  background-color: white;
  border-bottom: 0.15rem solid rgb(223, 223, 223);
}
nav img {
  height: 48px;
}
nav .navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 950px) {
  nav .navContainer {
    padding: 0 2rem;
  }
}
nav .buttonActions button {
  font-family: "Lato Bold";
  margin: 0 0.5rem;
}
nav .buttonActions :last-child {
  padding: 0.75rem 1.75rem;
}
nav #mobileMenu img {
  width: 30px;
  height: 30px;
}
nav #basic-menu li {
  width: 200px;
}

footer img {
  width: 36px;
}
footer .footerItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}
@media (max-width: 950px) {
  footer {
    padding: 0 2rem;
  }
}
@media (max-width: 400px) {
  footer .footerItems {
    flex-direction: column;
    gap: 1rem;
  }
}

.home {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.home button {
  font-size: 0.8rem;
  padding: 0.6rem 1.5rem;
}
.home .contentRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .home .contentRow {
    padding: 0 2rem;
  }
}
.home .contentCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 950px) {
  .home .contentCol {
    padding: 0 2rem;
  }
}
.home #content1 {
  background-color: rgb(229, 248, 253);
  padding: 2rem 0;
}
.home #content1 img {
  width: 380px;
}
.home #content2 {
  padding: 4rem 0;
}
.home #content2 #about {
  display: block;
  position: relative;
  top: -350px;
  visibility: hidden;
  scroll-behavior: smooth;
}
.home #content2 img {
  width: 475px;
}
.home #content3 > div {
  display: flex;
  padding: 2rem 0;
}
.card-text {
  padding: 40px 0px;
}
.home #content3 .darkBlue, .home #content3 .lightBlue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(104, 216, 252);
  width: 480px;
  height: 400px;
}
@media (max-width: 500px) {
  .home #content3 .darkBlue, .home #content3 .lightBlue {
    height: 500px;
  }
}
@media (max-width: 950px) {
  .home #content3 .darkBlue, .home #content3 .lightBlue {
    padding: 0 2rem;
  }
}
.home #content3 .lightBlue {
  background-color: rgb(232, 249, 254);
}
.home #content4 {
  padding: 2rem 0;
}
.home #content4 .grow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 800px) {
  .home .contentRow {
    flex-direction: column !important;
  }
  .home #content1 div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home #content1 h2 {
    text-align: center;
  }
  .home #content1 p {
    text-align: center;
    margin-top: 1rem;
  }
  .home #content1 button {
    margin: 1rem auto;
  }
  .home #content1 img {
    width: 300px;
  }
  .home #content2 .text {
    margin-bottom: 2rem;
  }
  .home #content2 img {
    margin-bottom: -2rem;
  }
  .home #content3 .darkBlue,
.home #content3 .lightBlue {
    width: initial;
  }
}
@media (max-width: 420px) {
  .home #content1 h2 {
    font-size: 2.5rem;
  }
  .home #content1 button {
    margin: -1rem 0 1rem 0;
  }
  .home #content1 img {
    width: 250px;
  }
  .home #content3 .darkBlue,
.home #content3 .lightBlue {
    width: initial;
  }
  .home #content3 .darkBlue p,
.home #content3 .lightBlue p {
    max-width: 250px;
  }
}
.contact {
  margin-top: 5rem;
  background-color: rgb(229, 248, 253);
}
.contact button {
  padding: 0.6rem 1.5rem;
}
.contact #contact {
  padding: 3rem 0 2rem;
}
@media (max-width: 750px) {
  .contact #contact {
    padding: 2rem;
  }
}/*# sourceMappingURL=App.css.map */