@use '../../styles/modules/mixins';
@use '../../styles/modules/variables';

.home {
	display: flex;
	flex-direction: column;
	margin-top: variables.$navBarTopPadding;

	button {
		font-size: 0.8rem;
		padding: variables.$otherButtonPadding;
	}

	.contentRow {
		@include mixins.flexCenter(row);

		justify-content: space-between;
	}

	.contentCol {
		@include mixins.flexCenter(column);
	}

	#content1 {
		background-color: variables.$lightBlue;
		padding: variables.$contentPadding;

		img {
			width: 380px;
		}
	}

	#content2 {
		padding: 4rem 0;

		#about {
			display: block;
			position: relative;
			top: -350px;
			visibility: hidden;
			scroll-behavior: smooth;
		}

		img {
			width: 475px;
		}
	}

	#content3 {
		> div {
			display: flex;
			padding: variables.$contentPadding;
		}

		.darkBlue {
			@include mixins.flexCenter(column);
			justify-content: center;
			background-color: rgb(104, 216, 252);
			width: 480px;
			height: 400px;
		}

		.lightBlue {
			@extend .darkBlue;
			background-color: rgb(232, 249, 254);
		}
	}

	#content4 {
		padding: variables.$contentPadding;

		.grow {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}

@media (max-width: 800px) {
	.home {
		.contentRow {
			flex-direction: column !important;
		}

		#content1 {
			div {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			h2 {
				text-align: center;
			}

			p {
				text-align: center;
				margin-top: 1rem;
			}

			button {
				margin: 1rem auto;
			}

			img {
				width: 300px;
			}
		}

		#content2 {
			.text {
				margin-bottom: 2rem;
			}

			img {
				margin-bottom: -2rem;
			}
		}

		#content3 {
			.darkBlue,
			.lightBlue {
				width: initial;
			}
		}
	}
}

@media (max-width: 420px) {
	.home {
		#content1 {
			h2 {
				font-size: 2.5rem;
			}

			button {
				margin: -1rem 0 1rem 0;
			}

			img {
				width: 250px;
			}
		}

		#content3 {
			.darkBlue,
			.lightBlue {
				width: initial;

				p {
					max-width: 250px;
				}
			}
		}
	}
}
