footer {
	img {
		width: 36px;
	}

	.footerItems {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 2rem 0;
	}

	@media (max-width: 950px) {
		padding: 0 2rem;
	}

	@media (max-width: 400px) {
		.footerItems {
			flex-direction: column;
			gap: 1rem;
		}
	}
}
